.do2g-container
{
  margin-top: 75px;
}

.flash-container
{
	left: 75vw;
	position: absolute;
	width: auto;
	max-width: 25vw;
	hyphens: auto;
	list-style-type: none;
	z-index: 999;
}

.flash-container-li
{
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 2px;
}

.flash-container-a
{
	color: black;
}

.flash-container-a:hover
{
	text-decoration: none;
}

.error
{
	background-color: #ff6666;
}

.warning
{
	background-color: #ffe066;
}

.info
{
	background-color: #8cff66;
}

.message
{
	background-color: #8cff66;
}

img.wide
{
    max-width: 220px;
    height: 220px;
}

img.tall
{
    max-height: 220px;
    width: 220px;
}​

img.do2g-img-wide
{
	width: 400px;
	height: 400px;
}

.do2g-form-signin
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.do2g-form-register
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.do2g-col-black
{
	background-color: #333;
}

form input
{
	margin-bottom: 10px;
}
