{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	<h1>{{ album.getTitle() }}</h1>
	<h3>
		by <a href="/artist/{{ album.getAuthorId() }}">{{ album.getAuthor().getName() }}</a>
	</h3>
	<div class="row">
		<div class="col-sm-3 col-lg-3 col-md-3">
			<img class="do2g-img-wide"
			src="{{ (url_for('static', filename='images/' + album.getImgPath())) if album.getImgPath() != None else (url_for('static', filename='do2g-default.png')) }}"
			alt=""/>
		</div>
		<div class="col-sm-6 col-lg-6 col-md-6">
			<p> Genres:
				{% for g in genres %}
					{{ g.getName() }}
				{% endfor %}
			</p>
			<p> Release year: {{ album.getYear() }} </p>
			<p> Composed by: {{ album.getParent() }}</p>
		</div>
	</div>
</div>

{% endblock %}
