{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	{% if name != None %}
		<h1>{{ name }}</h1>
	{% endif %}
	<div class="row">
		{% for album in albums %}
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="thumbnail">
					<img class="do2g-img" src="{{ (url_for('static', filename='images/' + album.getImgPath())) if album.getImgPath() != None else (url_for('static', filename='do2g-default.png')) }}" alt="">
					<div class="caption">
						<h4>
						<a href="/album/{{ album.getId() }}" title="{{ album.getTitle() }}">
							{% if album.getTitle()|length < 23 %}
								{{ album.getTitle() }}
								{% else %}
							{{ album.getTitle()[:23] + "..." }}
								{% endif %}
							</a>
						</h4>
						<p>by <a href="/artist/{{ album.getAuthorId() }}">{{ album.getAuthor().getName() }}</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
